<p *ngIf= "!(authService.getUser()|async)"> you are not logged in </p>

<div>
<button class="add" mat-mini-fab color="primary" (click) = "openAddBook = !openAddBook">
  <mat-icon>add</mat-icon></button>
 <bookform
       [hidden] = "!openAddBook"
       [formType] = "'Add book'"
       (update) = "add($event);openAddBook = !openAddBook"
       (closeEdit) = "openAddBook = !openAddBook"
     >
   </bookform>
  </div>
  <p></p>
<mat-accordion *ngIf= "(authService.getUser()|async)" >


  <mat-expansion-panel *ngFor = "let book of books;let i = index"
                       (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
       {{book.title}}
      </mat-panel-title>
      <mat-panel-description>
       {{book.author}}
      </mat-panel-description>
      <mat-icon class="icon"
        color= "wran"
        (click) = "deleteBook(book.id)">delete
      </mat-icon>
    </mat-expansion-panel-header>
    <p>{{book.summary}}</p>
    <button  mat-raised-button color="primary"
    (click) = "editstate[i] = !editstate[i]">
      Edit
    </button>
    <bookform
      [hidden] = "!editstate[i]"
      [formType] = "'Update book'"
      [title] = "book.title"
      [author] = "book.author"
      [id] = "book.id"
      (update) = "update($event);editstate[i] = !editstate[i]"
      (closeEdit) = "editstate[i] = !editstate[i]"
    >

    </bookform>
  </mat-expansion-panel>
  <p></p>
</mat-accordion>
  <div>
    <!-- <button  mat-raised-button (click) = "previousPage()">
      <mat-icon  color="warm">
        arrow_backward
      </mat-icon>
    </button>

    <button  mat-raised-button (click) = "nextPage()">
    <mat-icon  color="warm">
      arrow_forward
    </mat-icon>
  </button> -->

  <button class="nextpage" mat-mini-fab color="wran" (click) = "previousPage()">
    <mat-icon>skip_previous</mat-icon>
  </button>
  
  <button class="nextpage" mat-mini-fab color="wran" (click) = "nextPage()">
    <mat-icon class="next">skip_next</mat-icon>
  </button>
  </div>
