<mat-card>
    <h1>Sign Up</h1>
    <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <p>
        <mat-form-field appearance="standard">
          <mat-label>Email</mat-label>
            <input 
                matInput placeholder="example: you@you.com"
                [(ngModel)] = "email"
                name = "email"
                required>
                <mat-hint>The one you really read</mat-hint>
        </mat-form-field>
        <!--space  -->
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'"
            [(ngModel)] = "password"
            name = "password"
            required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
          </mat-form-field>  
        </p>
        <mat-error>{{errorMessage}}</mat-error>                 
        <div >
            <button mat-raised-button color="primary" 
                    [disabled]="!signupForm.form.valid">
                     Sign Up
            </button>
        </div>
      </div>
   