<p *ngIf = "!(weatherData$ | async)&&!hasError" > Loding Data..</p>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title *ngIf ="!hasError" >Tempratures in {{city}}, {{country}} is {{temperature | number:'1.0-0'}}º </mat-card-title>
    <mat-card-title *ngIf ="hasError">{{errorMessage}}</mat-card-title>
    
    <!-- <mat-card-title *ngIf ="!hasError" > {{</mat-card-title> -->
    <mat-card-subtitle>{{description}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]= "image" alt="Photo of a wheater" *ngIf = "!hasError">
  <mat-card-content>
    <a mat-list-item routerLink="/city" routerLinkActive="active">Select city</a>
  </mat-card-content>
  <p>Longitude:{{lon}}, Latitude:{{lat}}</p>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
